.listado-productos {
  background-color: #f3f3f3;
}
.contenedor {
  max-width: 1200px;
  width: 95%;
  padding: 5rem 0;
  margin: 0 auto;
}
.bg-white {
  background-color: #FFF;
}
  .logo-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .logo {
    max-width: 175px;
    display: flex;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
    margin-top: 100px;
  }
  
  .footer p {
    margin-bottom: 0px;
    color: #fff;
  }
  
  .footer img {
    max-width: 50px;
  }
